body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}
 
#rotamiddle {
    position: absolute;
	height: 30%;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rota {
    -webkit-animation: rotating 4s linear infinite;
}

.rota2 {
    position: inline-block;
    -webkit-animation: rotating 4s linear infinite;
}

.png1 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.pngb {
    position: absolute;
    height: 30%;
    left: 0;
    bottom: 0;
}

.pngb2 {
    position: absolute;
    height: 30%;
    left: 40%;
    bottom: 0;
}

.png2 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    opacity: 0%;
}

.png2:hover {
    opacity: 100%;
}

.nyan {
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.upsidedown {
    position: absolute;
    left: 75%;
    top: 0;
    height: 30%;
}

#canvas {
    background-color: black;
    z-index: -1;
    width: 100%;
    height: auto"
}